body{
    background-color:white;

}

img{
    width: 30px;
    height: 10p;
    
}

.img1{
    position: static;
    height: 750px ;
    width:100%;
    top:0;
    margin-left: 0;
    margin-right: 0; 
    border-bottom-left-radius:1px;
    border-bottom-right-radius:1px;
    z-index: -1;
}

.p{  
    position: absolute ;
    top:500px;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    color: white;
    
}

.div1{
    
    background-color: white;
    margin: 30px 20% 50px 20%;
    padding-top:35px;
    border-radius: 20px 20px 20px 20px;
    
}

.p1{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
    font-size: 18px;
    line-height: 4;
    color: black;
    font-family: "Comic Sans MS",cursive,sans-serif ;
}

.h1{
    text-align: center;
    padding-bottom:15px;
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    color: transparent;
    padding-top: 25px;
    background: linear-gradient(90deg ,#A4514C,#A4514C,#FFd700,#FFd700) ;
    -webkit-background-clip: text ;
    background-clip: text;
}

.h4{
    text-align:center;
    padding-bottom: 60px;
    color:transparent;
    background: linear-gradient(270deg ,#A4514C,#A4514C,#FFd700,#FFd700) ;
    -webkit-background-clip: text ;
    background-clip: text;
}


.div2 {
    margin:100px 20% 60px 20%;
    background-color:white;
    padding-top:35px;
    border-radius: 20px 20px 20px 20px;
}

.div3{
    margin:100px 20% 60px 20%;
    background-color:white;
    padding-top: 35px;
    border-radius: 20px 20px 20px 20px;

}

.pa1{
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Arial, sans-serif;
}

form{
    background-color: #F0F0F2;
}

.redit{
    margin-top: 60px;
}

.a1{
    
    
    text-decoration: none;
    font-size:100%;
    color: black;
    background-color: #f6e6d1;
    border-radius: 30px 30px;
    padding:20px 40px 20px 40px;  
    
}

.divbg{
    background:linear-gradient(45deg,#0abab5,#0abab5,#dc73f6,#dc73f6);
    margin: -4px 0 10px 0;
    animation: gradientScroll 8s ease infinite;
    background-size: 400% 400%;
    padding-top: 50px;
    padding-bottom: 50px;
}
   


footer{
    margin: 15px 0px 0px 0px;
    background-color: bisque;
}

.footer{
    text-align: center;
}

.lf{
    padding-left: 45%;
    padding-right: 3%;
}

h5{
    color:grey;
    text-align: center;
}


.lfi{
    margin-top:1.5%;
    height: 55px;
    width: 50px;

}

.lIi{
    
    height: 55px;
    width: 50px;

}

.img2{
    margin-left: 25%;
    margin-bottom: 20px;
    width:49.5%;
    height:40%;
    border-radius: 15px 15px 15px 15px;

}

marquee{
        position:fixed;
        color: #dc73f6;
        font-size: 25px;
        height: 35px;
        background-color: white;
}

.pinb{
    justify-content:center;
    align-items: center;
    height: 35px;
    width: 35px;
    object-fit: cover;/*non repeter*/

}