body{
    background-color:white;

}

img{
    width: 30px;
    height: 10p;
    
}

.img1{
    position: static;
    height: 750px ;
    width:100%;
    top:0;
    margin-left: 0;
    margin-right: 0; 
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    z-index: -1;
}

.p{  
    position: absolute ;
    top:500px;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    color: white;
    
}

.div1{
    
    
    margin-bottom: 50px;
    padding-top: 20px;
}

.p1{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18px;
    line-height: 4;
    color: black;
    font-family: cursive ;
}

.h1{
    text-align: center;
    padding-bottom:15px;
    font-family: Georgia;
    color: #F0F0F2;
}

.h4{
    text-align:center;
    padding-bottom: 60px;
    color:black;
}

.div2 .div3{
    margin-top: 100px;
    margin-bottom:60px;
    padding-top: 20px;
}

.pa1{
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Arial, sans-serif;
}

form{
    background-color: #F0F0F2;
}

.redit{
    margin-top: 60px;
}

.a1{
    
    
    text-decoration: none;
    font-size:100%;
    color: black;
    background-color: #f6e6d1;
    border-radius: 30px 30px;
    padding:20px 40px 20px 40px;  
    
}

.divbg{
    background:linear-gradient(#0abab5,#0abab5,#dc73f6,#dc73f6);
    margin-bottom: 10px;
   
}

footer{
    margin: 15px 0px 0px 0px;
    background-color: bisque;
}

.footer{
    text-align: center;
}

.lf{
    padding-left: 45%;
    padding-right: 3%;
}

h5{
    color:grey;
    text-align: center;
}


.lfi{
    margin-top:1.5%;
    height: 55px;
    width: 50px;

}

.lIi{
    
    height: 55px;
    width: 50px;

}

.img2{
    margin-left: 32%;
    margin-bottom: 20px;
    width:34.5%;
    height:25%;
    border-radius: 15px 15px 15px 15px;

}

marquee{
        position:fixed;
        color: #dc73f6;
        font-size: 25px;
        height: 35px;
        background-color: white;
}

.pinb{
    justify-content:center;
    align-items: center;
    height: 35px;
    width: 35px;
    object-fit: cover;/*non repeter*/

}