body{
    background:linear-gradient(#0abab5,#0abab5,#dc73f6,#dc73f6);
}

img{
    width: 30px;
    height: 10p;
    margin-inline:10px;
}



h1{
    text-align: center;
    padding: 1% 2% 1% 2%;
    background-color: white;
    margin: 120px 40% 0 40%;
    border-radius: 30px 30px 30px 30px;
    color: #8a2be2;
    z-index: 1000;
}



p{
    line-height: 2.5;
}

.div2{
    background-color: white;
    text-align: center;
    margin-left: 8%;
    margin-right: 60%;
    border-radius: 50px 50px 50px 50px;
    margin-top:50px;
}



.div3{
    text-align: center;
    background-color:white;
     margin-left: 8%;
     margin-right: 8%;
     margin-top: 50px;
     border-radius: 30px 30px 30px 30px;
}

.div4{
background-color: white;
padding-bottom: 2.5%;
margin:50px 8% 30px 8%;
border-radius: 30px 30px 30px 30px;
}

.p2{
    text-align: center;
}

.a1{
    color:black;
    background-color: bisque;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border-radius: 15px 15px;

}
.lir{
    text-decoration: none;
    text-align: center;
    margin:4% 0 1% 0;
    list-style-type: none;
   
}

.p2{
    border-top:  1px  #8a2be2 solid;
    padding-top: 10px;
}

.h2{
    color: #8a2be2;
    margin: 0 8% 0 8%;
}


.div6{
    background-color: white;
padding-bottom: 2.5%;
margin:50px 8% 30px 8%;
border-radius: 30px 30px 30px 30px;
}

footer{
    margin: 15px 0px 0px 0px;
    background-color:bisque;
}

.footer{
    text-align: center;
    font-size: 4.1vh;
}

.lf{
    padding-left: 45%;
    padding-right: 3%;
}

h5{
    color: grey;
    text-align: center;
}


.lfi{
    margin-top:1.5%;
    height: 55px;
    width: 50px;

}

.lIi{
    
    height: 55px;
    width: 50px;

}

marquee{
    color: #dc73f6;
    font-size: 25px;
    height: 35px;
}